<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servlet_user_reg</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_user_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_user_login</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_add_food_category</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_add_food_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_list_food_category</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_list_food_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_delete_food_category</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_delete_food_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_edit_food_category</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_edit_food_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_add_driver</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_add_driver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_list_driver</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_list_driver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_delete_driver</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_delete_driver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_single_driver</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_single_driver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_update_driver</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_update_driver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_add_food</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_add_food</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_all_food</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_all_food</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_delete_food</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_delete_food</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_single_food</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_single_food</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_update_food</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_update_food</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_all_user</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_all_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_user_status_change</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_user_status_change</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_add_order</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_add_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_ordered_list</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_ordered_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_order_item_delete</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_order_item_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_place_order</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_place_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_complete_order_placing</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_complete_order_placing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pass_update_servlet</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.pass_update_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_admin_view_all_orders</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_admin_view_all_orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_order_accept_or_reject</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_order_accept_or_reject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_assign_driver</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_assign_driver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_filter_foods</servlet-name>
        <servlet-class>com.mycompany.food_odaring.controller.servlet_filter_foods</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet_user_reg</servlet-name>
        <url-pattern>/servlet_user_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_user_login</servlet-name>
        <url-pattern>/servlet_user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_add_food_category</servlet-name>
        <url-pattern>/servlet_add_food_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_list_food_category</servlet-name>
        <url-pattern>/servlet_list_food_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_delete_food_category</servlet-name>
        <url-pattern>/servlet_delete_food_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_edit_food_category</servlet-name>
        <url-pattern>/servlet_edit_food_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_add_driver</servlet-name>
        <url-pattern>/servlet_add_driver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_list_driver</servlet-name>
        <url-pattern>/servlet_list_driver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_delete_driver</servlet-name>
        <url-pattern>/servlet_delete_driver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_single_driver</servlet-name>
        <url-pattern>/servlet_single_driver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_update_driver</servlet-name>
        <url-pattern>/servlet_update_driver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_add_food</servlet-name>
        <url-pattern>/servlet_add_food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_all_food</servlet-name>
        <url-pattern>/servlet_all_food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_delete_food</servlet-name>
        <url-pattern>/servlet_delete_food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_single_food</servlet-name>
        <url-pattern>/servlet_single_food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_update_food</servlet-name>
        <url-pattern>/servlet_update_food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_all_user</servlet-name>
        <url-pattern>/servlet_all_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_user_status_change</servlet-name>
        <url-pattern>/servlet_user_status_change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_add_order</servlet-name>
        <url-pattern>/servlet_add_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_ordered_list</servlet-name>
        <url-pattern>/servlet_ordered_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_order_item_delete</servlet-name>
        <url-pattern>/servlet_order_item_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_place_order</servlet-name>
        <url-pattern>/servlet_place_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_complete_order_placing</servlet-name>
        <url-pattern>/servlet_complete_order_placing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pass_update_servlet</servlet-name>
        <url-pattern>/pass_update_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_admin_view_all_orders</servlet-name>
        <url-pattern>/servlet_admin_view_all_orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_order_accept_or_reject</servlet-name>
        <url-pattern>/servlet_order_accept_or_reject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_assign_driver</servlet-name>
        <url-pattern>/servlet_assign_driver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_filter_foods</servlet-name>
        <url-pattern>/servlet_filter_foods</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
